{% extends 'navbar.html' %}

{% block body %}
<div class="box-border">

     <div class="box-style m-3 p-2" style="background-color: #fff">
          <h1 class="ml-2">Red Light Jumping Detection</h1>
     </div>

     <div class="box-border m-3" style="background-color: #fff">

          <div class="box-border-side" style="background-color: #ffd9d9;">
               <div class="fs-3 p-4">
                    This project aims to demonstrate that it can be useful to provide assistance
                    in detecting various infringement that is caused by jumping over red light.
               </div>
          </div>

          <div class="box-border-side" style="background-color: #fff9d9;">
               <div class="fs-3 p-4">
                    This project uses AI to detect vehicles in a given Image and uses a <i>custom</i> algorithm to detect if a given car is over the detection lin
               </div>
          </div>

          <div class="box-border-side" style="background-color: #e8d9ff;">
               <div class="fs-3 p-4">
                    Go to Review Media to detect and save media
                    <br>
                    or, Go to Generate Report to generate report
               </div>
          </div>

     </div>

</div>

{% endblock %}